version: '3.8'

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./backend
    command: >
      sh -c "
        echo 'Waiting for PostgreSQL to be ready...' &&
        while ! nc -z db 5432; do
          sleep 1;
        done;
        echo 'PostgreSQL is ready!' &&
        flask run --host=0.0.0.0 --port=5000
      "
    volumes:
      - ./backend:/app
    ports:
      - "5000:5000"   # <-- Porta exposta para acesso externo
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
      - DATABASE_URL=postgresql://user:password@db:5432/mydatabase
      - ML_SERVICE_URL=http://ml-service:5001
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydatabase
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"  # Exposto para depuração local
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
